mariadb/.data/*
mariadb/.log/*

mongodb/.data/*
mongodb/.log/*

postgresql/.data/*
!postgresql/.data/postgresql.conf

redis/.data/*

zentao/.www/*
zentao/.data/*

mssql/.data/*
mssql/.log/*

v2fly/.log/*