version: "3.1"

services:
  redis:
    image: redis:alpine
    restart: "no"
    ports:
      - 6379:6379
    volumes:
      - .config/redis.conf:/usr/local/etc/redis/redis.conf
      - .data:/data

    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
